#first_heading {
    color: crimson;
    text-align: center;
}
.gioithieu {
    color: aqua;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}
.oga {
    margin-left: 7rem;
    font-size: 1.4rem;
}
.tho {
    border: 1px solid pink;
    text-align: center;
    font-size: 120%;
}
.tho pre {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}
a{
    text-decoration: none;
} a:visited {
    color: cyan;
}
a:hover {
    text-decoration: underline;
    font-size: 1.2rem;
    color: darkgoldenrod;
}
